<!DOCTYPE html>
<html manifest="manifest.appcache" >

  <head> 
          <meta charset='utf-8'/>
          <title> CARDS  </title> 
         
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
               <script src="{{ url_for('static', filename='cards.js') }}"></script>
  </head>
  <body>
    <p style="text-align: center;">Let's play our card game!</p>
    <div class="sideBox"></div>
        <div id="remain" ></div>
        <div id="remain1"  style="display: none;"></div>
        <button id='reset' onclick="resetNow()" value="Reload page"> RESTART</button>
        <button id='save' onclick="myfunction()"> SAVE</button>

  </body>
</html> 

